<!DOCTYPE html>
<html lang = en>
<head>
    <meta charset="utf-8">
    <title>{{{name}}}</title>
    <link rel="stylesheet" href="/Public/css/site.css">
</head>

<body>
    {{{body}}}
</body>

</html>