
.signup-content{
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	padding: 50px 85px; 
	height: 90%;
	/* background-image:url("../images/signup-bg11.jpg"); */
    /* height: 500px; */
    background-position: center;
	background-repeat: no-repeat;
	
	
  }

  .signup-content label{
	background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
	font-size: 20px;
    margin-bottom: 20px;

  }
  .signup-content input{
	background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
	font-size: 20px;
    margin-bottom: 20px;
  }


.mainPage{
    background-color: #cb5903;

}
