
<div class="container row">
            <div class="jumbotron col-sm-13 pull-center">
                <main>
                    <h2>You are logged out</h2>


                </main>
            </div>
        </div>

<a href="/"> return to home </a>
