<h1>Sign up</h1>
<main>
    <form action = "/signup" method="POST" id="signup-page">
        <label for="signupUser" id="user">Username:</label><br>
        <input type="text" id="signupUser" name="Username"><br>
        <label for="signupPassword" id="pass">Password:</label><br>
        <input type="text" id="signupPassword" name="password"><br>
        <label for="UserType" id="Type">You are a :</label><br>
        <select id="userType" name="type">
            <option value="Advisor">Advisor</option>
            <option value="Student">Student</option>
        </select><br>
        <label for="signupRealName" id="name">Your real Name:</label><br>
        <input type="text" id="signupRealName" name="real_name"><br>
        <input type="submit" name="submit" value="submit">
    </form>
    {{#if userNameNotProvide}}
    <p class = "error">You need to provide a user name</p>
    {{/if}}

    {{#if passWordsNotProvide}}
    <p class = "error">You need to provide a password name</p>
    {{/if}}

    {{#if userNameNotString}}
    <p class = "error">You need to provide a String type user name</p>
    {{/if}}

    {{#if passWordsNotString}}
    <p class = "error">You need to provide a String type password name</p>
    {{/if}}

    {{#if AllSpacesU}}
    <p class = "error">You can not enter all space in user name</p>
    {{/if}}

    {{#if AllSpacesP}}
    <p class = "error">You can not enter all space in password</p>
    {{/if}}

    {{#if specialCharaUserName}}
    <p class = "error">You can not have sepcial character in the user name</p>
    {{/if}}

    {{#if spaceInInput}}
    <p class = "error">You can not have space in your user name or password</p>
    {{/if}}

    {{#if UsernameLessfour}}
    <p class = "error">Your user name must have more than 4 characternumber</p>
    {{/if}}

    {{#if passwordLessSix}}
    <p class = "error">Your password must have more than 6 characternumber</p>
    {{/if}}

    {{#if alreadyExist}}
    <p class = "error">The Username already exist</p>
    {{/if}}

    {{#if serverError}}
    <p class = "error">Internal Server Error</p>
    {{/if}}

</main>


