<h1>Confirmation page</h1>
<div class="container row">
            <div class="jumbotron col-sm-13 pull-center">
                <main>

                    <h2>your appointment with the advisor has been confirmed</h2>


                </main>
            </div>
        </div>

<a href="/private"> return to your page </a>
